<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          
          <li class="nav-item"><a href="{{ site.baseurl }}/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/summer2024" class="nav-link">Summer2024</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/planet" class="nav-link">Planet</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/AI" class="nav-link">AI</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/events" class="nav-link">Events</a></li>
          <!--<li class="nav-item"><a href="{{ site.baseurl }}/tag/opinions" class="nav-link">Opinions</a></li>-->
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/resources" class="nav-link">Resources</a></li>
      
          <!--<li class="nav-item"><a href="{{ site.baseurl }}/tag/exhibits" class="nav-link">Exhibits</a></li>-->      
          <!--<li class="nav-item"><a href="{{ site.baseurl }}/tag/newsletters" class="nav-link">Newsletters</a></li>-->
          <!--<li class="nav-item"><a href="{{ site.baseurl }}/tag/podcasts" class="nav-link">Podcasts</a></li>-->
          
          <li class="nav-item"><a href="{{ site.baseurl }}/tag/projects" class="nav-link">Projects</a></li>
          
        </ul>
      </div>
     
    </div>
  </nav>
</header>
